---
import HeaderIcon from "./HeaderIcon.astro";
---

<header class="bg-slate-100 border-b border-b-slate-200 h-8 flex items-center">
  <nav class="container mx-auto flex justify-end items-center px-2 gap-3">
    <HeaderIcon icon="lucide:github" />
    <HeaderIcon icon="lucide:twitter" />
    <HeaderIcon icon="lucide:rss" />
  </nav>
</header>
