---
import { Icon } from "astro-icon/components";
---

<header class="bg-slate-700 border-b border-b-slate-600 h-8 flex items-center">
  <nav class="container mx-auto flex justify-end items-center">
    <Icon name="lucide:github" class="w-5 h-5" />
  </nav>
</header>
